# Listas de presença

Arquivo para gerar arquivos csv para criar listas de presença para o dia da prova. Os arquivos são divididos por nível. Posteriormente membros da comissão irão usar os arquivos para criar listas de presença.

In [1]:
import input_data as inpdt  # arquivo com as funções criadas para tratar os dados

In [2]:
file_path = "dados_brutos/inscricoes2019_anonimo.csv"

In [3]:
df = inpdt.input_data(file_path)
column = 'Carimbo de data/hora'
df = inpdt.time_index(df, column)
column = 'Nome completo'
df = inpdt.no_duplicates(df, column)
df.head()

,Nome completo,Curso,Turma (Ex: TM222; BM151; PMQ361 - escrever dessa forma),Categoria
Carimbo de data/hora,,,,
2019-03-31 23:50:17,9LLubhn8,Biotecnologia (integrado),TM213,Nível 1 (Integrado - 2º ou 3º período)
2019-03-31 23:54:19,GjNrK8vE,Alimentos (integrado),AM241,Nível 2 (Integrado - 4º ou 5º período ; Pós-mé...
2019-04-01 00:51:53,eh7gy8RG,Química (integrado),QM151,Nível 2 (Integrado - 4º ou 5º período ; Pós-mé...
2019-04-01 00:56:24,cFmKhcXX,Meio-ambiente (integrado),MAM261,Nível 3 (Integrado - 6º ao 8º período ; Pós-mé...
2019-04-01 01:12:32,Tzm3qX1j,Biotecnologia (integrado),BM 161,Nível 3 (Integrado - 6º ao 8º período ; Pós-mé...

In [4]:
nivel1_df = df[df['Categoria'] == 'Nível 1 (Integrado - 2º ou 3º período)']
nivel1_df.head()

,Nome completo,Curso,Turma (Ex: TM222; BM151; PMQ361 - escrever dessa forma),Categoria
Carimbo de data/hora,,,,
2019-03-31 23:50:17,9LLubhn8,Biotecnologia (integrado),TM213,Nível 1 (Integrado - 2º ou 3º período)
2019-04-02 23:48:06,BbHXEmJi,Biotecnologia (integrado),BM131,Nível 1 (Integrado - 2º ou 3º período)
2019-04-04 15:56:56,AokZEoL6,Biotecnologia (integrado),BM131,Nível 1 (Integrado - 2º ou 3º período)
2019-04-04 22:37:35,cH9idNgn,Biotecnologia (integrado),BM131,Nível 1 (Integrado - 2º ou 3º período)
2019-04-04 22:47:47,QFdNC7O0,Química (integrado),QM131,Nível 1 (Integrado - 2º ou 3º período)

In [5]:
header = ['Nome completo', 'Turma (Ex: TM222; BM151; PMQ361 - escrever dessa forma)']

nivel1_df.to_csv('nivel1names.csv', columns=header)

In [6]:
nivel2_df = df[df['Categoria'] == 'Nível 2 (Integrado - 4º ou 5º período ; Pós-médio - 1º ao 3º período)']
nivel2_df.head()

,Nome completo,Curso,Turma (Ex: TM222; BM151; PMQ361 - escrever dessa forma),Categoria
Carimbo de data/hora,,,,
2019-03-31 23:54:19,GjNrK8vE,Alimentos (integrado),AM241,Nível 2 (Integrado - 4º ou 5º período ; Pós-mé...
2019-04-01 00:51:53,eh7gy8RG,Química (integrado),QM151,Nível 2 (Integrado - 4º ou 5º período ; Pós-mé...
2019-04-01 09:05:09,gRhXA1jF,Química (integrado),Qm141,Nível 2 (Integrado - 4º ou 5º período ; Pós-mé...
2019-04-01 23:54:50,DuhryjVN,Química (integrado),QM141,Nível 2 (Integrado - 4º ou 5º período ; Pós-mé...
2019-04-02 02:07:33,GJgITPlb,Química (integrado),QM141,Nível 2 (Integrado - 4º ou 5º período ; Pós-mé...

In [7]:
nivel2_df.to_csv('nivel2names.csv', columns=header)

In [8]:
nivel3_df = df[df['Categoria'] == 'Nível 3 (Integrado - 6º ao 8º período ; Pós-médio - 4º ao 6º período)']
nivel3_df.head()

,Nome completo,Curso,Turma (Ex: TM222; BM151; PMQ361 - escrever dessa forma),Categoria
Carimbo de data/hora,,,,
2019-04-01 00:56:24,cFmKhcXX,Meio-ambiente (integrado),MAM261,Nível 3 (Integrado - 6º ao 8º período ; Pós-mé...
2019-04-01 01:12:32,Tzm3qX1j,Biotecnologia (integrado),BM 161,Nível 3 (Integrado - 6º ao 8º período ; Pós-mé...
2019-04-02 23:59:10,b5rGvCSy,Meio-ambiente (integrado),MAM 261,Nível 3 (Integrado - 6º ao 8º período ; Pós-mé...
2019-04-04 22:34:30,WMtIsCIj,Química (integrado),QM161,Nível 3 (Integrado - 6º ao 8º período ; Pós-mé...
2019-04-04 23:19:06,gVafAXsT,Alimentos (integrado),AM261,Nível 3 (Integrado - 6º ao 8º período ; Pós-mé...

In [9]:
nivel3_df.to_csv('nivel3names.csv', columns=header)